/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
} */

.carta {
    background: rgba( 105, 113, 119, 0.1 );
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 300px;
    text-align: center;
    padding: 15px;
}

.nombre {
    font-size: 24px;
    font-weight: bold;
    color: black;
    border-bottom: 2px solid black;
}

.tipo {
    font-size: 18px;
    color: #666;
}

.imagen {
    width: 250px;
    height: 200px;
    border-radius: 8px;
    border: 2px solid black;
    margin: auto;
}

.stats {
    /* display: flex; */
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px 0px;
    display: grid;
    column-gap: 5px;
    grid-template-columns: auto auto;
}

.stat {
    font-size: 13px;
    color: #555;
    display: flex;
    border-bottom: 1px solid black;
}

.detalles {
    display: flex;
    text-decoration: none;
    color: blue;
    margin-left: 180px !important;
}

.detalles:hover {
    border-bottom: blue 1px solid;
}
